@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    background: rgb(255, 255, 255);
    
}


/* shared styles starts here  */
.text-center{
    text-align: center;
}
.header{
    max-width: 1440px;

}
.container{
    width: 90%;
    margin: 0 auto;
}

/* shared color styles here */
.primary-color{
    color: rgb(58, 58, 58);
}

/* nav bar section styles starts here  */

nav{
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(170, 170, 170); */
    width: 90%;
    margin: 2rem auto;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    
}
nav li{
    margin-right: 28px;
}
nav a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
nav h3{
    font-size: 24px;
    font-weight: 700;
}

/* banner section styles starts here  */
.banner{
    display: flex;
    /* grid-template-columns: 3fr 1fr; */
    gap: 130px;
    margin-bottom: 10rem;

    
}
.banner-image{
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;

}
.banner-image img{
    width: 100%;
}
.banner-text-content{
   margin-top: 50px;
}
.banner-title{
    font-size: 52px;
    font-weight: 700;
}
.banner-description{
    font-size: 16px;
    font-weight: 600;
}
.btn-primary{
    width: 196px;
    height: 44px;
    padding: 10px 24px 10px 24px;
    border-radius: 41px;
    background: rgb(224, 44, 109);
    font-size: 16px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border: none;
}


/* sponsors companies styles starts here  */
.sponsor-container{
    margin-bottom: 80px;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 90%;
    height: 110px;
    /* margin: 0 auto; */
    /* border: 2px solid; */
    align-items: center;
    margin-left: 100px;
}
hr{
    width: 90%;
    
}

/* popular container styles starts here  */
.popular-collection-section{
    width: 90%;
    margin: 0 auto;
}
.popular-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}
.popular-content{
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    width: 329px;
    height: 500px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.popular-content img{
    width: 100%;

}
.section-title{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
}
#see{
    font-size: 16px;
    font-weight: 700;
    border: none;
    color: rgba(224, 44, 109, 0.87);


}